{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.json",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
